<% layout("/layouts/boilerplate") %>
<h3>All Certificates</h3>

  <% if (currUser && currUser._id.equals(process.env.OWNER_ID)) { %>
<form action="/certificates/new" method="GET">
  <button class="btn btn-success" type="submit">Add certificate</button>
</form>
<% } %>

<div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 mt-3">
  <% for (let certificate of allCertificates) { %>
    <a href="/certificates/<%= certificate._id %>" class="product-link">
      <div class="card col product-card">
        <img src="<%= certificate.image.url %>" class="card-img-top" alt="certificate_image" style="height: 20rem" />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
            <b><%= certificate.name %></b>
          </p>
        </div>
      </div>
    </a>
  <% } %>
</div>